<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <!--  <link rel="stylesheet" type="text/css" href="/css/style.css">  -->
    <style>

    </style>
</head>
<body>

    <h1>사진 목록</h1>
    <a th:href="@{'/Upload.html'}" style="float:right;">
        <button type="button">사진 올리기</button>
    </a>

        <th:block th:if="${not #lists.isEmpty(photos)}">
            <table border ="1" width="50%" height=200  bordercolor="black" >
                <tr>
                    <td>제목</td>
                    <td>파일 명</td>
                    <td>등록 날짜</td>
                </tr>
                <tr th:each="photo : ${photos}" class="photo-item" >
                    <td>
                        <a th:href="@{'/ImageView.html/' + ${photo.id}}">
                            <!--    <img th:src="${photo.imagePath}" th:style="'max-width: 100%; max-height: auto;'" /> -->
                            <p class="photo-title" th:text="${photo.title}" style="color:black;"></p>
                        </a>
                    </td>
                    <td>
                        <p class="image-path" th:text="${photo.imagePath}" style="color:black;"></p>
                    </td>
                    <td>
                        <p class="create-time" th:text="${photo.createdTime}" style="color:black;"></p>
                    </td>
                </tr>
            </table>
        </th:block>
        <div th:unless="${not #lists.isEmpty(photos)}">사진 없음</div>

</body>
</html>