<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="all">
  <h1>회원 가입</h1>
    <form action="/userInfo" method="post" enctype="multipart/form-data">
      <div class="id">
        <label >사용할 ID를 입력하세요 : </label>
        <input type="text" name="userid" required>
      </div>
      <div class="password">
        <label >사용할 비밀번호을 입력하세요 : </label>
        <input type="text"  name="password" required>
      </div>
      <div class="Nick_name">
        <label >표시될 닉네임을 입력하세요 : </label>
        <input type="text"  name="Nick_name" required>
      </div>
        <button type="submit">등록하기</button>
    </form>
</div>
</body>
</html>
