<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="all">
  <h1>로그인</h1>
  <form action="/IsMem" method="post" enctype="multipart/form-data">
    <div>
      <label >ID:</label>
      <input type="text"  name="userid" required>
    </div>
    <div>
      <label >PASSWORD:</label>
      <input type="password"  name="password" required>
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>

  </form>
</div>
<div>
  <a th:href="@{'JoinMem.html'}" >
    <button type="submit">회원 가입</button>
  </a>
</div>

</body>
</html>
